%full-width {
  width: 100%;
  height: 100%;
}

$amarelo: #fecd08;
$verde: #28b156;
$roxo: #704097;
$vermelho: #eb2432;
$azul1: #4b85c1;
$azul2: #36c6f4;
$azul3: #3f51b5;

.login {
  margin: 0 auto;

  .logo {
    text-align: center;
    margin: 5% 0;
  }

  md-input-container {
    width: 97%;
  }

  .external-login {
    text-align: center;

    ul {
      li {
        float: left;
        margin-left: 7%;
      }
    }
  }
}

.text-center {
  text-align: center;
}

a {
  color: inherit;
}

.text-right {
  text-align: right;
  margin-right: 20px;
  float: right;
}

.text-left {
  float: left;
  text-align: left;
  margin-left: 20px;
}

ul {
  list-style: none;
}


.header {
  background: #3f51b5 !important;

  .logo {

    img {
      width: 25%;
    }
  }

  .menu-user-logged {
    position: absolute;
    right: 0;
    top: 2px;
  }
}

.left-painel {
  background: $azul1;
  color: #fff;
}

.rocket-chat {
  background: $azul2;
  color: #fff;
}


.feeds {
  .card-media {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.comentarios {

  .userCommented {
    text-transform: capitalize;
    color: $azul1 !important;
    font-weight: bold;

    span {
      color: black;
      font-weight: normal;
      text-transform: none;
    }
  }

  .md-subhead {
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    font-size: 0.8em;
  }
}


.loading {
  position: absolute;
  background: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  z-index: 100;

  .content-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%, 0);
  }
}

.inactive {
  cursor: default;
  opacity: 0.3;

  a {
    cursor: default;
  }
}

.dropzone.dz-clickable {
  height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
}
