<div layout="row header">
  <div flex="100" layout="column" class="boxWithHeight info-user" layout-padding>
    <section flex="50">
      <img src="img/logo_infra.png" alt="" style="width: 10%;">
    </section>

    <section flex="50">
      Olá: {{user.name}} <a href="/logout">sair</a>
    </section>
  </div>
</div>

<div layout="row">

  <div flex="10" layout="column" class="boxWithHeight left-painel" layout-padding>
    <section flex="40">PAINEL</section>
  </div>

  <div flex="70" layout="column" class="boxWithHeight" layout-padding>

    <div class="row" style="border: 1px solid #ccc;">
      <section flex="100" class="writing-feed">
        <form ng-submit="">
          <md-content style="width: 100%;">
              <md-input-container flex="100" style="width: 10%;">
                <img src="http://lorempixel.com/70/70" alt="">
              </md-input-container>

              <md-input-container flex="100" style="width: 70%;">
                <label>O que vc está fazendo agora?</label>
                <textarea rows="2" style="width: 100%;" ng-model="newffeed"></textarea>
                <ul>
                  <li ng-bind-html="newffeed | emoji"></li>
                  <li> <a href="http://www.webpagefx.com/tools/emoji-cheat-sheet/" target="blank">Emoji cheat sheet</a></li>
                </ul>
              </md-input-container>
          </md-content>

          <section class="external-login" style="width: 100%;">
            <div class="row" style="width: 100%;">
              <ul style="width: 100%; margin: 0; padding: 0;">
                <li style="float: left; padding: 10px;">
                  <a href="#" class="hvr-bob">
                    <fa name="fa fa-picture-o" size="2"></fa>
                  </a>
                </li>

                <li style="float: left; padding: 10px;">
                  <a href="#" class="hvr-bob">
                    <fa name="fa fa-video-camera" size="2"></fa>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </form>
      </section>
    </div>

    <div class="row feeds" ng-repeat="feed in feeds">

      <section flex="100">
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">{{feed.ownerUser}} - {{feed.created}}</span>
              <span class="md-headline">{{feed.title}}</span>
              <span class="md-subhead">{{feed.message}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-align="space-between">
            <div class="md-media-xl card-media"><img src="http://lorempixel.com/615/240" alt=""></div>

            <md-card-actions layout="column">
              <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
              </md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
      </section>
    </div>
  </div>

  <div flex="20" layout="column" class="boxWithHeight rocket-chat" layout-padding>
    <section flex="100">CHAT DO ROCKET.CHAT</section>
  </div>

</div>
