<div layout="row" class="loading" ng-hide="loading">
  <div class="content-loading"><fa name="spinner" ng-hide="loading" spin size="3"></fa></div>
</div>

<div layout="row">
  <div flex="100">
    <div ng-include="'partials/includes/header.html'"></div>
  </div>
</div>

<div layout="row" ng-show="loading">

  <div flex="20" layout="column" class="boxWithHeight left-painel" layout-padding>
    <div ng-include="'partials/includes/left_panel.html'"></div>
  </div>

  <div flex="60" layout="column" class="boxWithHeight" layout-padding>

    <div class="row" style="border: 1px solid #ccc;">
      <section flex="100" class="writing-feed">
        <form ng-submit="">
          <md-content style="width: 100%;">
            <div layout="row" layout-xs="column">
              <div flex="10">
                <img src="http://lorempixel.com/70/70" alt="">
              </div>

              <div flex="40">
                <md-input-container style="width: 100%;">
                  <label>O que vc está fazendo agora?</label>
                  <textarea rows="2" style="width: 100%;" ng-model="newffeed"></textarea>
                </md-input-container>
              </div>

              <div flex="40">
                <ul>
                  <li ng-bind-html="newffeed | emoji"></li>
                  <li>
                    <md-tooltip ng-bind-html="message | emoji"></md-tooltip>
                    <a href="http://www.webpagefx.com/tools/emoji-cheat-sheet/" target="blank">Emoji cheat sheet</a>
                  </li>
                </ul>
              </div>
            </div>
          </md-content>

          <section class="external-login" style="width: 100%;">
            <div class="row" style="width: 100%;">
              <ul style="width: 100%; margin: 0; padding: 0;">
                <li style="float: left; padding: 10px;">
                  <a href="#" class="hvr-bob">
                    <fa name="fa fa-picture-o" size="2"></fa>
                  </a>
                </li>

                <li style="float: left; padding: 10px;">
                  <a href="#" class="hvr-bob">
                    <fa name="fa fa-video-camera" size="2"></fa>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </form>
      </section>
    </div>

    <div class="row feeds" ng-repeat="feed in feeds">
      <section flex="100">
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">{{feed.ownerUser}} - {{feed.created}}</span>
              <span class="md-headline">{{feed.title}}</span>
              <span class="md-subhead">{{feed.message}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-align="space-between">
            <div class="md-media-xl card-media"><img ng-src="http://lorempixel.com/615/245/" alt=""></div>
            <md-card-actions layout="column">
              <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
              </md-button>
            </md-card-actions>
          </md-card-content>

          <md-card-content layout="row" layout-align="space-between">
            <ul style="width: 100%; margin: 0; padding: 0;">
              <li style="float: left; padding: 10px;" class="cursor-pointer hvr-float-shadow">
                <md-tooltip>
                  <div ng-repeat="whoLikes in feed.whoLikes">
                    {{whoLikes}} <br>
                  </div>
                </md-tooltip>
                <fa name="fa fa-thumbs-o-up" size="2"></fa>
                <small>{{feed.likes}}</small>
              </li>
            </ul>
          </md-card-content>

          <md-card-content class="comentarios">
            <md-content md-theme="altTheme">
              <section>
                <md-subheader class="md-primary">Comentários</md-subheader>
                <md-list layout-padding>
                  <md-list-item class="md-3-line" ng-repeat="comments in feed.comments">
                      <img ng-src="http://lorempixel.com/70/70" class="md-avatar" alt="{{message.userCommented}}">
                      <div class="md-list-item-text">
                        <h3 class="userCommented">{{comments.userCommented}}</h3>
                        <h4>{{comments.message}}</h4>
                        <p>
                          {{comments.created}}
                        </p>
                        <div class="cursor-pointer hvr-float-shadow">
                          <md-tooltip>
                            <div>
                              Tiago Lima
                            </div>
                          </md-tooltip>
                          <fa name="fa fa-thumbs-o-up" size="1"></fa>
                          <small>{{comments.likes}}</small>
                        </div>
                      </div>
                  </md-list-item>
                </md-list>
              </section>
            </md-content>
          </md-card-content>
        </md-card>
      </section>
    </div>
  </div>

  <div flex="20" layout="column" class="boxWithHeight rocket-chat" layout-padding>
    <section flex="100">CHAT DO ROCKET.CHAT</section>
  </div>

</div>
