<div layout="row">
  <div flex="40" class="login">

    <div class="logo">
      <img src="img/logo_infra.png" alt="" style="width: 50%;">
    </div>

    <md-toolbar>
      <div class="panel">
        <h5 class="text-center">Entrar no Infrabook</h5>
      </div>
    </md-toolbar>

    <form ng-submit="login(this)">
      <md-content>
          <md-input-container>
            <label>Username</label>
            <input ng-model="signup.username" type="text">
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input ng-model="signup.password" type="password">
          </md-input-container>
      </md-content>

      <section layout="column" layout-align="center center">
        <div layout="row" style="width: 100%">
        <md-button type="submit" class="md-raised md-primary md-block" flex>Cadastrar <fa name="spinner" spin size="1" ng-show="loading"></fa></md-button>
        </div>
      </section>

      <section class="external-login">
        <div class="row" style="width: 100%;">
          Entre com: <br>
          <ul>
            <li>
              <a href="/auth/google">
                <fa name="fa fa-google-plus-square" size="4" style="color: #dc4a38;"></fa>
              </a>
            </li>

            <li>
              <a href="#">
                <fa name="fa fa-facebook-square" size="4" style="color: #3b5998;"></fa>
              </a>
            </li>

            <li>
              <a href="#">
                <fa name="fa fa-twitter-square" size="4" style="color: #2daae1;"></fa>
              </a>
            </li>

            <li>
              <a href="#">
                <fa name="fa fa-github-square" size="4"></fa>
              </a>
            </li>
          </ul>
        </div>
      </section>

    </form>
  </div>
</div>
