<div layout="row" class="loading" ng-hide="loading">
  <div class="content-loading"><fa name="spinner" ng-hide="loading" spin size="3"></fa></div>
</div>

<div layout="row">
  <div flex="100">
    <div ng-include="'partials/includes/header.html'"></div>
  </div>
</div>

<div layout="row" ng-show="loading">

  <div flex="20" layout="column" class="boxWithHeight left-painel" layout-padding>
    <div ng-include="'partials/includes/left_panel.html'"></div>
  </div>

  <div flex="60" layout="column" class="boxWithHeight" layout-padding>

    <div class="row">
      <section flex="100">
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
        PERFIL AQUI <br>
      </section>
    </div>
  </div>

  <div flex="20" layout="column" class="boxWithHeight rocket-chat" layout-padding>
    <section flex="100">CHAT DO ROCKET.CHAT</section>
  </div>

</div>
